* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    /* position: relative; */
    width: 100%;
    height: 82px;
    /* padding: 12px 16px; */
    background: #003262;
    display: block;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
   

    
    

}

.home {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    display: none;
    
    /* padding-top: 40px; */
}

@media screen and (min-width: 768px) {
    .home {
    display: block;
        
    
    }
}
/* mouse over link */
a:hover {
    color: #FDB515;
}



/* hr {
    border-color: #003262;
} */


/* h1, h2 {
    font-weight: 700;
    font-size: 28px;
} */




/* @media screen and (min-width: 615px) {
    .homepage-header-text {
        background: #FDB515;
    }
} */

/* nav {
    color: #FFFFFF;
    font-size: 30px;
    
   
} */

/* .container {
    max-width: 1200px;
} */

.test-nav {
    /* color: #FFFFFF; */
    /* font-size: 30px; */
    display: inline-block;
    width: 170px;
    /* height: 200px; */
    padding-top: 24px;
    /* padding-right: 10px; */
    height: auto;
}
.zmdi-menu{
    color: white;
    /* font-size: 900px; */
    padding-top: 24px;
    /* padding-left: 85px; */
    /* width: 600px; */
    /* height: auto; */
    
}


.logo-on-banner {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 34.5%;
    display: block;
    
}

.homepage-banner {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    display: block;

}

.test-container-bg {
    background-color: #EEEEEE;
}

.arcway-pic, .homegirl-web {
    width: 100%;
    height: auto;
    display: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 29px;
    position: relative;
    z-index: -2;
     
}

@media screen and (min-width: 768px) {
    .arcway-pic, .homegirl-web {
       
        display: block;
    }
}

.archway-2 {
    width: 100%;
    height: auto;
    display:block;
    padding-bottom: 20px;
    
}

.homegirl {
    width: 100%;
    height: auto;
    display:block;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .archway-2, .homegirl {
        display: none;
    }
}

.twenty-twenty-one-image-first {
    width: 80%;
    height: auto;
    display:block;
    padding-bottom: 20px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .twenty-twenty-one-image-first  {
        position: relative;
        top: 0;
        width: 80%;
        z-index: 1;
    }
}

.computer-pic-one, .computer-pic-two {
    width: 112%;
    height: auto;
    display:block;
    padding-bottom: 13px;
}

@media screen and (min-width: 768px) {
    .computer-pic-one, .computer-pic-two {
        display: none;
    }
}

.computer-one-desktop {
    width: 90%;
    height: auto;
    /* padding-left: 40px; */
    display: none;
    
}

.computer-two-desktop {
    width: 90%;
    height: auto;
    display: none;
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .computer-one-desktop, .computer-two-desktop {
        display: block;
       
    }
}



.embed-container {

    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.twenty-twenty-one-header-text {
    font-size: 95px;
    font-weight: 900;
    color: #3B7EA1;
    text-shadow: 2px 2px 2px #003262;
    margin: 0;
    padding: 20px;
   
   
}

@media screen and (min-width: 768px) {
    .twenty-twenty-one-header-text  {
        color: #FFFFFF;
        text-shadow: 2px 2px 2px #003262;
        /* text-align: right; */
        margin: right;
        padding: 0;
        position:absolute;
        z-index: 2

    }
}

.roots-paragraph, .reach-paragraph, .timeline-text {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    /* padding: 17px; */
}

.roots-paragraph.readmore {
    padding-top: 70px;
   
}
.twenty-twenty-one-text-one, .timeline-page-one-paragraph-one {
    font-size: 16px;
    padding-left: 70px;
    padding-right: 70px;
     
}

@media screen and (min-width: 768px) {
    .timeline-page-one-paragraph-one {
        display: none; 

    }
}

.timeline-paragraph-desktop {
    font-size: 17px;
    padding-left: 40px;
    padding-right: 18px;
    display: none; 
  
}

@media screen and (min-width: 768px) {
    .timeline-paragraph-desktop {
        display: block;
        

    }
}

.timeline-h1 {

    text-align: center;
    padding-left: 70px;
    display: none; 

}

@media screen and (min-width: 768px) {
    .timeline-h1 {
        display: block;
        

    }
}

.timeline-h1.orange-h1 {

   color: #C4820E;

}

.timeline-h1.gray-h1 {

    color: #888888;
 
 }


.timeline-h1.black-h1 {

    color: #000000;
 
}

.timeline-h1.darkblue-h1 {

    color: #003262
 
}

.timeline-h1.lightblue-h1 {

    color: #3B7EA1;
 
}



.timeline-text {
    font-size: 14px;
    
   
}

.timeline-text.white {
    font-size: 14px;
    color: #000000;

   
}

@media screen and (min-width: 768px) {
    .timeline-text.white {
        color:#EEEEEE;
        

    }
}


.timeline-web-text-left {
    font-size: 15px;
    font-style: italic;
    text-align: end;
    padding-bottom: 10px;
    display: none;
}

@media screen and (min-width: 768px) {
    .timeline-web-text-left{
        display: block;
        

    }
}



/* .timeline-text-white {
    font-size: 14px;
    color:#EEEEEE;
    display: none;
    
   
   
}

@media screen and (min-width: 768px) {
    .timeline-text-white{
        display: block;
        

    }
} */

/* @media screen and (min-width: 768px) {
    .twenty-twenty-one-text-one {
        padding-left: 40px;
        padding-right: 40px;

    }
} */

/* .twenty-twenty-one-row {
    height: 900px;
} */


.web-twenty-twenty-one-paragraph-two {
    font-size: 16px;
    /* padding-left: 70px; */
    /* padding-right: 70px;
    padding-bottom: 70px; */
    display: none;
}

@media screen and (min-width: 768px) {
    .web-twenty-twenty-one-paragraph-two {
        display: block; 

    }
}

.down-arrow-twenty-twenty-one, .down-arrow-home, .down-arrow-timeline {
    background: transparent;
    border: none;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .down-arrow-twenty-twenty-one, .down-arrow-home, .down-arrow-timeline {
        display: none;

    }
}


.orange-stripe {
    font-weight: 700;
    font-size: 28px;
    justify-content: center;
    text-align: center;
    width: auto;
    background-color: #FDB515;
    padding: 10px;
    
}

.space-2011-page {
    height: 100px;
    width: 100%;
}


.timeline-graphic-one {
    width: 94px;
    height: auto;
    display: block;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
    
} 

.large-design {
    height: auto;
    display: block;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 792px;
    opacity: 40%;
   
   
}

@media screen and (min-width: 768px) {
    .large-design {
        display: none;

    }
}


.timeline-banner {
    padding: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #C4820E;
    background-color: #EEEEEE;
    position: relative;
   
}


.timeline-banner.gray {
    
    color: #888888;
     
   
}

.timeline-banner.black {
    
    color: #000000;
     
   
}

.timeline-banner.darkblue {
    color:#003262;
}

.timeline-banner.blue {
    color:#3B7EA1;
}



@media screen and (min-width: 768px) {
    .timeline-banner {
        display: none;

    }
}



/* .timeline-banner.orange {
    background: orange;
    color: black;

} */

/* .timeline-gray-orange-banner-first {
    height: 100px;
    font-weight: 700;
    font-size: 28px;
    padding: 29px;
    justify-content: center;
    text-align: center;
    width: auto;
    color: #C4820E;
    position: relative;
    background-color: #EEEEEE;
}*/

.timeline-background {
    background-color: #EEEEEE;
    display: none;
}

@media screen and (min-width: 768px) {
    .timeline-background {
        display: block;

    }
}

.background-orange {
    background-color: #FFFFFF;
     
    
}


@media screen and (min-width: 768px) {
    .background-orange, .brown {
        background-color:#FDB515;

    }
}

.brown {
    background-color: #FFFFFF;
     
    
}
 

@media screen and (min-width: 768px) {
    .brown {
        background-color:#C4820E;

    }
}


.gray {

    background-color: #FFFFFF;


    
}

@media screen and (min-width: 768px) {
    .gray {

        background-color: #888888;


    }
}

.black {
    background-color: #FFFFFF;

}

@media screen and (min-width: 768px) {
    .black {

        background-color: #000000;


    }
}

.darkblue {
    background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .darkblue {

        background-color: #003262;


    }
}

.lightblue {
    background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .lightblue {

        background-color: #3B7EA1;
       


    }
}

/* .no-gutters {
    margin-right: 0;
    margin-left: 0;
} */


.timeline-header {
    height: 60px;
    font-weight:700;
    font-size: 23px;
    padding: 13px;
    padding-bottom: 5px;
    justify-content: center;
    text-align: center;


}

@media screen and (min-width: 768px) {
    .timeline-header {
        display: none;

    }
}


.timeline-header.orange {
    height: 60px;
    font-weight:700;
    font-size: 23px;
    padding: 13px;
    justify-content: center;
    text-align: center;
    background-color: #FDB515;

}

.timeline-header-desktop {
    font-weight:700;
    font-size: 23px;
    display: none;
    
}

@media screen and (min-width: 768px) {
    .timeline-header-desktop {
        display: block;

    }
}
.timeline-header-desktop.orange {
    font-weight:700;
    font-size: 23px;
    background-color: #FDB515;
    padding: 13px;
    
}

.timeline-header-desktop.brown {
    font-weight:700;
    font-size: 23px;
    background-color: #C4820E;
    padding: 13px;
    
}
.timeline-header-desktop.gray {
    font-weight:700;
    font-size: 23px;
    background-color: #888888;
    padding: 13px;
    
}

.timeline-header-desktop.black{
    font-weight:700;
    font-size: 23px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 13px;
    
}

.timeline-header-desktop.darkblue{
    font-weight:700;
    font-size: 23px;
    color: #FFFFFF;
    background-color: #003262;
    padding: 13px;
    
}

.timeline-header-desktop.blue{
    font-weight:700;
    font-size: 23px;
    color: #FFFFFF;
    background-color: #3B7EA1;
    padding: 13px;
    
}


.timeline-header.brown {
    height: 60px;
    font-weight:700;
    font-size: 23px;
    padding: 13px;
    justify-content: center;
    text-align: center;
    background-color: #C4820E;

}

.timeline-header.gray {
    height: 60px;
    font-weight:700;
    font-size: 23px;
    padding: 13px;
    justify-content: center;
    text-align: center;
    color:#FFFFFF;
    background-color: #888888;

}

.timeline-header.black {
    height: 60px;
    font-weight:700;
    font-size: 23px;
    padding: 13px;
    justify-content: center;
    text-align: center;
    color:#FFFFFF;
    background-color:#000000;

}

.timeline-header.darkblue {
    height: 60px;
    font-weight:700;
    font-size: 23px;
    padding: 13px;
    justify-content: center;
    text-align: center;
    color:#FFFFFF;
    background-color: #003262;

}

.timeline-header.lightblue {
    height: 60px;
    font-weight:700;
    font-size: 23px;
    padding: 13px;
    justify-content: center;
    text-align: center;
    color:#FFFFFF;
    background-color: #3B7EA1;

}
.slick-next:before, .slick-prev:before {
    display: none;
}

@media screen and (min-width: 768px) {
    .slick-next:before, .slick-prev:before {
        display: block;
        color: #003262;
        

        
        

    }
}

.slick-slide {
    margin: 5 10px;
}

.slick-dots {
    bottom: 0;
    
}

.timeline-image {
    width: 100%;
    height: auto;
    display: block;
    /* padding-right: 20px;
    padding-left: 20px; */
    
}

.desktop-timline-long {
    width: 100%;
    height: auto;
    display: none;

}
@media screen and (min-width: 768px) {
    .desktop-timline-long {
        display: block;

    }
}







/* .homepage-thing {
    align-self: end;

} */

/* .homepage-footer-row {
    height: 200px;
} */

.homepage-graphic-bottom {
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;

}

.homepage-footer {
    height: auto;
    width: 100%;
    background-color: #003262;
}

.twenty-twenty-one-section-bottom {
    height: 55px;
    width: auto;
    display: block;
    background-color: #3B7EA1;
    /* margin-top: 10px; */
}

.twenty-twenty-one-footer {
    height: 35px;
    width: auto;
    display: block;
    background-color: #003262;
}



.zmdi-facebook-box, .zmdi-linkedin, .zmdi-email  {
    color: white;
    padding-left: 4px;
    padding-top: 70px;
    
}


.sidr {
    background:#003262;
    box-shadow: none;
    color:#FFFFFF;
    
    
 
   

}

.sidr ul li {
    line-height: 80px;
    padding-left: 15px;
    border-top: 0;
  
}

.sidr ul li a, .sidr ul li span {
    color:#FFFFFF;
    line-height: 80px;
   
    
}
   
.sidr ul li:hover>a, .sidr ul li:hover>span, .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span {
    
    box-shadow: none;
    line-height: 95px;
    
    
}

@media screen and (min-width: 768px) {
    .sidr, .zmdi-menu {
        display: none;
    }
}


.main-menu {
    display: none;
}

@media screen and (min-width: 768px) {
    .main-menu {
       
        display: block;
    }
}

.dropdown {
    /* float: left;
    overflow: hidden;
    padding-top: 6px; */
    position: relative;
    z-index: 99999;
    
    
 }
  
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 18px;  
    border-color: #FFFFFF;
    outline: none;
    color: white;
    padding: 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar-desktop {
    min-height: 82px;
    
}
  
/* .dropdown-content {
    
    position: absolute
    
    z-index: 2;
    
} */

#dropdown-content {
    display: none;
    position: absolute;
}

#sub-menu {
    display: none;
}
/* .dropdown-content a {
    
    float: none;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 4;
  
}
   */
  /* .dropdown-content a:hover {
    background-color: #ddd;
 
  } */

.nav-list {
   
    /* padding-right: 10px; */
    list-style: none;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 0;
    background-color: #3B7EA1;
    width: 120px;
    height:auto;
    
    
   
    
}

.item-1 {
    margin: 5px; 
    padding: 10px 0px;
    border-bottom: 3px solid #003262;
   
    
}

.item-1.last-link {
    font-weight: 700;
    border-bottom: none;
}


.remainder-text {
    display: none;
}

button:hover {
    cursor: pointer;
  }



/* button {
    color:#FFFFFF;
    background-color: #3B7EA1;
    border-radius: 19%;
    box-shadow: none;
    border-style: none;
    border-color: #3B7EA1;
    

} */

/* .sidr ul li a, .sidr ul li span {
    color: #EEEEEE;
    
    
}




.sidr ul li {
    border-top: 0;
    line-height: 95px;
    
    
} */



