* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    /* position: relative; */
    width: 100%;
    height: 82px;
    /* padding: 12px 16px; */
    background: #003262;
    display: block;
}

/* h1, h2 {
    font-weight: 700;
    font-size: 28px;
} */




/* @media screen and (min-width: 615px) {
    .homepage-header-text {
        background: #FDB515;
    }
} */

/* nav {
    color: #FFFFFF;
    font-size: 30px;
    
   
} */

/* .container {
    max-width: 1200px;
} */

.test-nav {
    /* color: #FFFFFF; */
    /* font-size: 30px; */
    display: inline-block;
    width: 170px;
    /* height: 200px; */
    padding-top: 24px;
    /* padding-right: 10px; */
    height: auto;
}
.zmdi-menu{
    color: white;
    /* font-size: 900px; */
    padding-top: 24px;
    /* padding-left: 85px; */
    /* width: 600px; */
    /* height: auto; */
    
}


.logo-on-banner {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 34.5%;
    display: block;
    
}

.homepage-banner {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;

}

.test-container-bg {
    background-color: #EEEEEE;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.arcway-pic, .homegirl-web {
    width: 100%;
    height: auto;
    display: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 29px;
     
}

@media screen and (min-width: 768px) {
    .arcway-pic, .homegirl-web {
       
        display: block;
    }
}

.archway-2 {
    width: 100%;
    height: auto;
    display:block;
    padding-bottom: 20px;
    
}

.homegirl {
    width: 100%;
    height: auto;
    display:block;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .archway-2, .homegirl {
        display: none;
    }
}

.twenty-twenty-one-image-first {
    width: 60%;
    height: auto;
    display:block;
    padding-bottom: 20px;
}

.computer-pic-one, .computer-pic-two {
    width: 100%;
    height: auto;
    display:block;
}

.embed-container {

    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.twenty-twenty-one-header-text {
    font-size: 90px;
    font-weight: 900;
    color: #3B7EA1;
    text-shadow: 2px 2px 2px #003262;
}

.roots-paragraph, .reach-paragraph {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    padding: 17px;
}

.twenty-twenty-one-text-one {
    font-size: 16px;
    padding: 17px;
}
.orange-stripe {
    font-weight: 700;
    font-size: 28px;
    justify-content: center;
    text-align: center;
    background-color: #FDB515;
    padding: 10px;
    
}

/* .homepage-thing {
    align-self: end;

} */

/* .homepage-footer-row {
    height: 200px;
} */

.homepage-graphic-bottom {
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;

}

.homepage-footer {
    height: auto;
    width: 100%;
    background-color: #003262;
}

.twenty-twenty-one-secton-bottom {
    height: 55px;
    background-color: #3B7EA1;
    /* margin-top: 10px; */
}

.twenty-twenty-one-footer {
    height: 35px;
    background-color: #003262;
}



.zmdi-facebook-box, .zmdi-linkedin, .zmdi-email  {
    color: white;
    padding-left: 4px;
    padding-top: 70px;
    
}


