* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    /* position: relative; */
    width: 100%;
    height: 82px;
    /* padding: 12px 16px; */
    background: #003262;
    display: block;
}

/* h1, h2 {
    font-weight: 700;
    font-size: 28px;
} */




/* @media screen and (min-width: 615px) {
    .homepage-header-text {
        background: #FDB515;
    }
} */

/* nav {
    color: #FFFFFF;
    font-size: 30px;
    
   
} */

/* .container {
    max-width: 1200px;
} */

.test-nav {
    /* color: #FFFFFF; */
    /* font-size: 30px; */
    display: inline-block;
    width: 170px;
    /* height: 200px; */
    padding-top: 24px;
    /* padding-right: 10px; */
    height: auto;
}
.zmdi-menu{
    color: white;
    /* font-size: 900px; */
    padding-top: 24px;
    /* padding-left: 85px; */
    /* width: 600px; */
    /* height: auto; */
    
}


.logo-on-banner {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 34.5%;
    display: block;
    
}

.homepage-banner {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;

}

.test-container-bg {
    background-color: #EEEEEE;
}

.arcway-pic, .homegirl-web {
    width: 100%;
    height: auto;
    display: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 29px;
     
}

@media screen and (min-width: 768px) {
    .arcway-pic, .homegirl-web {
       
        display: block;
    }
}

.archway-2 {
    width: 100%;
    height: auto;
    display:block;
    padding-bottom: 20px;
    
}

.homegirl {
    width: 100%;
    height: auto;
    display:block;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .archway-2, .homegirl {
        display: none;
    }
}

.twenty-twenty-one-image-first {
    width: 60%;
    height: auto;
    display:block;
    padding-bottom: 20px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .twenty-twenty-one-image-first  {
        position: relative;
        top: 0;
        width: 80%;
        z-index: 1;
    }
}

.computer-pic-one, .computer-pic-two {
    width: 112%;
    height: auto;
    display:block;
    padding-bottom: 13px;
}

@media screen and (min-width: 768px) {
    .computer-pic-one, .computer-pic-two {
        display: none;
    }
}

.computer-one-desktop {
    width: 75%;
    height: auto;
    /* padding-left: 40px; */
    display: none;
    
}

.computer-two-desktop {
    width: 100%;
    height: auto;
    display: none;
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .computer-one-desktop, .computer-two-desktop {
        display: block;
       
    }
}



.embed-container {

    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.twenty-twenty-one-header-text {
    font-size: 95px;
    font-weight: 900;
    color: #3B7EA1;
    text-shadow: 2px 2px 2px #003262;
    margin: 0;
    padding: 20px;
   
   
}

@media screen and (min-width: 768px) {
    .twenty-twenty-one-header-text  {
        color: #FFFFFF;
        text-shadow: 2px 2px 2px #003262;
        /* text-align: right; */
        margin: right;
        padding: 0;
        position:absolute;
        z-index: 2

    }
}

.roots-paragraph, .reach-paragraph {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    /* padding: 17px; */
}

.twenty-twenty-one-text-one {
    font-size: 16px;
    padding-left: 70px;
    padding-right: 70px;
     
}




.web-twenty-twenty-one-paragraph-two {
    font-size: 16px;
    /* padding-left: 70px; */
    /* padding-right: 70px;
    padding-bottom: 70px; */
    display: none;
}

@media screen and (min-width: 768px) {
    .web-twenty-twenty-one-paragraph-two {
        display: block; 

    }
}

.down-arrow-twenty-twenty-one, .down-arrow-home {
    background: transparent;
    border: none;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .down-arrow-twenty-twenty-one, .down-arrow-home {
        display: none;

    }
}


.orange-stripe {
    font-weight: 700;
    font-size: 28px;
    justify-content: center;
    text-align: center;
    width: auto;
    background-color: #FDB515;
    padding: 10px;
    
}


/* .timeline-graphic-one {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    
}  */

.timeline-gray-orange-banner-first {
    height: 100px;
    font-weight: 700;
    font-size: 28px;
    padding: 29px;
    justify-content: center;
    text-align: center;
    width: auto;
    /* display: block; */
    background-color: #EEEEEE;
}



.timeline-orange-header-first {
    height: 60px;
    font-weight:700;
    font-size: 23px;
    padding: 13px;
    justify-content: center;
    text-align: center;
    background-color: #FDB515;

}



/* .homepage-thing {
    align-self: end;

} */

/* .homepage-footer-row {
    height: 200px;
} */

.homepage-graphic-bottom {
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;

}

.homepage-footer {
    height: auto;
    width: 100%;
    background-color: #003262;
}

.twenty-twenty-one-section-bottom {
    height: 55px;
    width: auto;
    display: block;
    background-color: #3B7EA1;
    /* margin-top: 10px; */
}

.twenty-twenty-one-footer {
    height: 35px;
    width: auto;
    display: block;
    background-color: #003262;
}



.zmdi-facebook-box, .zmdi-linkedin, .zmdi-email  {
    color: white;
    padding-left: 4px;
    padding-top: 70px;
    
}


